{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "parser": "markdown"
            }
        }
    ],
    "importOrder": [
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^[./].*.(png|webp|jpg|jpeg|svg|json)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}